#startpause {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    border-color: #4CAF50;
    color: black;
    border-radius: 30px;
    

  }

  #startpause:hover {
    background-color: #4CAF50;
    color: white;
  }

  #reset {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    border-color: #4CAF50;
    color: black;
    border-radius: 30px;
    
  }

  #reset:hover {
    background-color: #4CAF50;
    color: white;
  }

  #space {
    font-size: 6px;

  }

  #defaultCanvas0{
    /*border: 3px solid green;*/
    
  }

  body{
   /* background-image: url("stuckunderwater.jpg");*/
   background-color: black;
    background-size: au;
    background-repeat: no-repeat;
    
  }

  #space2{
      font-size: 50px;

  }